* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    height: 70px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
#header h2{
    font-size: 48px;
    color:#fff;
}
#menuf {
    display: none;
    color: #fff;
}
.menu {
    color: #fff;
    font-size: 48px ;
    padding-right: 16px  ;
}