*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html {
    font-family: Helvetica, Arial , sans-serif;
}
#header {
    color:black;
    height: 46px;
    display: block;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav .nav-arrow {
    font-size: 12px;
}
#nav>li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav, .modelgame {
    list-style-type: none;

}
#nav>li>a {
    color:white;
    text-decoration: none;
    line-height: 46px;
    padding-left:24px ;
    padding-right: 24px;
}
#nav li:hover .modelgame {
    display: block;
}
#nav>li:hover>a {
    color: #000;
    background-color: rgb(252, 242, 230);
    display: inline-block;

}


#nav .modelgame {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.3 );
}
#nav .modelgame a {
    color:#000;
    text-decoration: none;

}
#nav .modelgame li:hover a {
    color: #000;
    background-color: antiquewhite;
    display: block;
    min-width: 200px;
    font-size: 16px;
}

#slider {
    padding-top: 50%;
    margin-top: 46px;
    background: url('/assets/img/bg3.png') top center/ cover no-repeat;
    position: relative;
}
#slider .content-text-slider{
    color: #ffffff;
    position: absolute;
    bottom: 47px;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#content {
    background-color:rgb(255, 255, 255);
    height: 1300px;
}
#content .content-home{
    color:#000;
    margin-right: auto;
    margin-left: 100px;
    padding: 64px 0;
    display: inline-block;
}
#content .img1{
    float: right;
    height: 800px;
    width: auto;
    margin-top: 176px;
    margin-right: 30px;
}
#content .home-heading{
    font-size: 55px;
    text-align: center;
    letter-spacing: 2px;
    width: 1000px;
}
#content .home-sub-heading{
    text-align: justify;
    line-height: 1.5;
    font-size: 40px;
    width: 1000px;

}

#footer {
    background-color:rgb(0, 0, 0);
    width: auto;
    height: 300px;
}
#footer .Information{
    color: #fff;
}
#footer .Information a{
    color:rgb(140, 140, 240);
    text-decoration: none;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    background-color: #f44336;
}
#header .search-icon{
    color: #ffffff;
    font-size: 20px;
    line-height: 46px;
}
